In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import sqlite3
import matplotlib.pyplot as plt

# Useful Info For loading Data
https://www.kaggle.com/dimarudov/data-analysis-using-sql

In [2]:
path = "../input/"  #Insert path here
database = path + 'database.sqlite'

In [3]:
conn = sqlite3.connect(database)

In [4]:
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

In [5]:
countries = pd.read_sql("""SELECT *
                        FROM Country;""", conn)
countries

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

In [6]:
leagues = pd.read_sql("""SELECT *
                        FROM League
                        JOIN Country ON Country.id = League.country_id;""", conn)
leagues

       id  country_id                      name     id         name
0       1           1    Belgium Jupiler League      1      Belgium
1    1729        1729    England Premier League   1729      England
2    4769        4769            France Ligue 1   4769       France
3    7809        7809     Germany 1. Bundesliga   7809      Germany
4   10257       10257             Italy Serie A  10257        Italy
5   13274       13274    Netherlands Eredivisie  13274  Netherlands
6   15722       15722        Poland Ekstraklasa  15722       Poland
7   17642       17642  Portugal Liga ZON Sagres  17642     Portugal
8   19694       19694   Scotland Premier League  19694     Scotland
9   21518       21518           Spain LIGA BBVA  21518        Spain
10  24558       24558  Switzerland Super League  24558  Switzerland

In [7]:
teams = pd.read_sql("""SELECT *
                        FROM Team
                        ORDER BY team_long_name
                        LIMIT 10;""", conn)
teams

      id  team_api_id  team_fifa_api_id        team_long_name team_short_name
0  16848         8350                29  1. FC Kaiserslautern             KAI
1  15624         8722                31            1. FC Köln             FCK
2  16239         8165               171        1. FC Nürnberg             NUR
3  16243         9905               169       1. FSV Mainz 05             MAI
4  11817         8576               614            AC Ajaccio             AJA
5  11074       108893            111989      AC Arles-Avignon             ARL
6  49116         6493              1714         AC Bellinzona             BEL
7  26560        10217               650          ADO Den Haag             HAA
8   9537         8583                57            AJ Auxerre             AUX
9   9547         9829                69             AS Monaco             MON

In [8]:
detailed_matches = pd.read_sql("""SELECT Match.id, 
                                        Country.name AS country_name, 
                                        League.name AS league_name, 
                                        season, 
                                        stage, 
                                        date,
                                        HT.team_long_name AS  home_team,
                                        AT.team_long_name AS away_team,
                                        home_team_goal, 
                                        away_team_goal,
                                        foulcommit,
                                        card,
                                        cross,
                                        corner,
                                        possession,
                                        B365H,
                                        B365D,
                                        B365A
                                FROM Match
                                JOIN Country on Country.id = Match.country_id
                                JOIN League on League.id = Match.league_id
                                LEFT JOIN Team AS HT on HT.team_api_id = Match.home_team_api_id
                                LEFT JOIN Team AS AT on AT.team_api_id = Match.away_team_api_id
                                WHERE country_name = 'Spain'
                                ORDER by date
                                LIMIT 10;""", conn)
detailed_matches

,id,country_name,league_name,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,foulcommit,card,cross,corner,possession,B365H,B365D,B365A
0,21518,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-30 00:00:00,Valencia CF,RCD Mallorca,3,0,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><corners>1</corners></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>53</comment><event...,1.70,3.60,5.25
1,21525,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-30 00:00:00,RCD Espanyol,Real Valladolid,1,0,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>46</comment><event...,2.00,3.30,3.80
2,21519,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,CA Osasuna,Villarreal CF,1,1,<foulcommit />,<card><value><comment>y</comment><stats><ycard...,<cross />,<corner />,<possession />,2.80,3.30,2.50
3,21520,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,RC Deportivo de La Coruña,Real Madrid CF,2,1,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>44</comment><event...,3.50,3.30,2.10
4,21521,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,CD Numancia,FC Barcelona,1,0,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>27</comment><event...,7.00,4.00,1.50
5,21522,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Racing Santander,Sevilla FC,1,1,<foulcommit />,<card><value><comment>y</comment><stats><ycard...,<cross />,<corner />,<possession />,2.80,3.30,2.50
6,21523,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Real Sporting de Gijón,Getafe CF,1,2,<foulcommit />,<card><value><comment>y</comment><stats><ycard...,<cross />,<corner />,<possession />,2.62,3.30,2.62
7,21524,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Real Betis Balompié,RC Recreativo,0,1,<foulcommit />,<card><value><comment>y</comment><stats><ycard...,<cross />,<corner />,<possession />,2.00,3.25,3.80
8,21526,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Athletic Club de Bilbao,UD Almería,1,3,<foulcommit />,<card><value><comment>y</comment><stats><ycard...,<cross />,<corner />,<possession />,2.00,3.30,3.80
9,21527,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Atlético Madrid,Málaga CF,4,0,<foulcommit />,<card><value><comment>y</comment><stats><ycard...,<cross />,<corner />,<possession />,1.44,4.20,7.50

In [9]:
leages_by_season = pd.read_sql("""SELECT Country.name AS country_name, 
                                        League.name AS league_name, 
                                        season,
                                        count(distinct stage) AS number_of_stages,
                                        count(distinct HT.team_long_name) AS number_of_teams,
                                        avg(home_team_goal) AS avg_home_team_scors, 
                                        avg(away_team_goal) AS avg_away_team_goals, 
                                        avg(home_team_goal-away_team_goal) AS avg_goal_dif, 
                                        avg(home_team_goal+away_team_goal) AS avg_goals, 
                                        sum(home_team_goal+away_team_goal) AS total_goals                                       
                                FROM Match
                                JOIN Country on Country.id = Match.country_id
                                JOIN League on League.id = Match.league_id
                                LEFT JOIN Team AS HT on HT.team_api_id = Match.home_team_api_id
                                LEFT JOIN Team AS AT on AT.team_api_id = Match.away_team_api_id
                                WHERE country_name in ('Spain', 'Germany', 'France', 'Italy', 'England')
                                GROUP BY Country.name, League.name, season
                                HAVING count(distinct stage) > 10
                                ORDER BY Country.name, League.name, season DESC
                                ;""", conn)
leages_by_season

,country_name,league_name,season,number_of_stages,number_of_teams,avg_home_team_scors,avg_away_team_goals,avg_goal_dif,avg_goals,total_goals
0,England,England Premier League,2015/2016,38,20,1.492105,1.207895,0.284211,2.700000,1026
1,England,England Premier League,2014/2015,38,20,1.473684,1.092105,0.381579,2.565789,975
2,England,England Premier League,2013/2014,38,20,1.573684,1.194737,0.378947,2.768421,1052
3,England,England Premier League,2012/2013,38,20,1.557895,1.239474,0.318421,2.797368,1063
4,England,England Premier League,2011/2012,38,20,1.589474,1.215789,0.373684,2.805263,1066
5,England,England Premier League,2010/2011,38,20,1.623684,1.173684,0.450000,2.797368,1063
6,England,England Premier League,2009/2010,38,20,1.697368,1.073684,0.623684,2.771053,1053
7,England,England Premier League,2008/2009,38,20,1.400000,1.078947,0.321053,2.478947,942
8,France,France Ligue 1,2015/2016,38,20,1.436842,1.089474,0.347368,2.526316,960
9,France,France Ligue 1,2014/2015,38,20,1.410526,1.081579,0.328947,2.492105,947
10,France,France Ligue 1,2013/2014,38,20,1.415789,1.039474,0.376316,2.455263,933
11,France,France Ligue 1,2012/2013,38,20,1.468421,1.076316,0.392105,2.544737,967
12,France,France Ligue 1,2011/2012,38,20,1.473684,1.042105,0.431579,2.515789,956
13,France,France Ligue 1,2010/2011,38,20,1.342105,1.000000,0.342105,2.342105,890
14,France,France Ligue 1,2009/2010,38,20,1.389474,1.021053,0.368421,2.410526,916
15,France,France Ligue 1,2008/2009,38,20,1.286842,0.971053,0.315789,2.257895,858
16,Germany,Germany 1. Bundesliga,2015/2016,34,18,1.565359,1.264706,0.300654,2.830065,866
17,Germany,Germany 1. Bundesliga,2014/2015,34,18,1.588235,1.166667,0.421569,2.754902,843
18,Germany,Germany 1. Bundesliga,2013/2014,34,18,1.748366,1.411765,0.336601,3.160131,967
19,Germany,Germany 1. Bundesliga,2012/2013,34,18,1.591503,1.343137,0.248366,2.934641,898
20,Germany,Germany 1. Bundesliga,2011/2012,34,18,1.660131,1.199346,0.460784,2.859477,875
21,Germany,Germany 1. Bundesliga,2010/2011,34,18,1.647059,1.274510,0.372549,2.921569,894
22,Germany,Germany 1. Bundesliga,2009/2010,34,18,1.513072,1.316993,0.196078,2.830065,866
23,Germany,Germany 1. Bundesliga,2008/2009,34,18,1.699346,1.222222,0.477124,2.921569,894
24,Italy,Italy Serie A,2015/2016,38,20,1.471053,1.105263,0.365789,2.576316,979
25,Italy,Italy Serie A,2014/2015,38,20,1.498681,1.187335,0.311346,2.686016,1018
26,Italy,Italy Serie A,2013/2014,38,20,1.536842,1.186842,0.350000,2.723684,1035
27,Italy,Italy Serie A,2012/2013,38,20,1.494737,1.144737,0.350000,2.639474,1003
28,Italy,Italy Serie A,2011/2012,38,20,1.511173,1.072626,0.438547,2.583799,925
29,Italy,Italy Serie A,2010/2011,38,20,1.431579,1.081579,0.350000,2.513158,955
30,Italy,Italy Serie A,2009/2010,38,20,1.542105,1.068421,0.473684,2.610526,992
31,Italy,Italy Serie A,2008/2009,38,20,1.521053,1.078947,0.442105,2.600000,988
32,Spain,Spain LIGA BBVA,2015/2016,38,20,1.618421,1.126316,0.492105,2.744737,1043
33,Spain,Spain LIGA BBVA,2014/2015,38,20,1.536842,1.118421,0.418421,2.655263,1009
34,Spain,Spain LIGA BBVA,2013/2014,38,20,1.631579,1.118421,0.513158,2.750000,1045
35,Spain,Spain LIGA BBVA,2012/2013,38,20,1.686842,1.184211,0.502632,2.871053,1091
36,Spain,Spain LIGA BBVA,2011/2012,38,20,1.678947,1.084211,0.594737,2.763158,1050
37,Spain,Spain LIGA BBVA,2010/2011,38,20,1.636842,1.105263,0.531579,2.742105,1042
38,Spain,Spain LIGA BBVA,2009/2010,38,20,1.600000,1.113158,0.486842,2.713158,1031
39,Spain,Spain LIGA BBVA,2008/2009,38,20,1.660526,1.236842,0.423684,2.897368,1101

In [10]:
detailed_bets = pd.read_sql("""SELECT home_team_goal, 
                                        away_team_goal,
                                        B365H,
                                        B365D,
                                        B365A,
                                        BWH,
                                        BWD,
                                        BWA,
                                        IWH,
                                        IWD,
                                        IWA,
                                        LBH,
                                        LBD,
                                        LBA,
                                        PSH,
                                        PSD,
                                        PSA,
                                        WHH,
                                        WHD,
                                        WHA,
                                        SJH,
                                        SJD,
                                        VCH,
                                        VCD,
                                        VCA,
                                        GBH,
                                        GBD,
                                        GBA,
                                        BSH,
                                        BSD,
                                        BSA
                                        
                                        
                                FROM Match;""", conn)

In [11]:
detailed_bets.shape

(25979, 31)

In [12]:
detailed_bets

,home_team_goal,away_team_goal,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,...,SJD,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,...,3.30,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,0,0,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,...,3.30,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,0,3,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,...,3.30,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,5,0,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,...,4.00,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,1,3,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,...,3.50,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
5,1,1,4.75,3.40,1.67,4.85,3.40,1.65,3.70,3.2,...,3.75,4.35,3.40,1.70,4.50,3.40,1.70,NaN,NaN,NaN
6,2,2,2.10,3.20,3.30,2.05,3.25,3.15,1.85,3.2,...,3.40,2.10,3.25,3.00,1.85,3.25,3.75,2.10,3.25,3.10
7,1,2,3.20,3.40,2.20,2.55,3.30,2.40,2.40,3.2,...,3.40,2.80,3.25,2.25,2.80,3.20,2.25,2.88,3.25,2.20
8,1,0,2.25,3.25,2.88,2.30,3.25,2.70,2.10,3.1,...,3.30,2.25,3.25,2.80,2.20,3.30,2.80,2.25,3.20,2.80
9,4,1,1.30,5.25,9.50,1.25,5.00,10.00,1.30,4.2,...,5.00,1.30,4.35,8.50,1.25,5.00,10.00,1.29,4.50,9.00
10,1,2,1.30,5.25,9.50,1.25,5.00,10.00,1.30,4.2,...,5.00,1.28,4.50,8.50,1.25,5.00,10.00,1.25,5.00,9.00
11,0,2,2.60,3.20,2.50,2.60,3.20,2.40,2.40,3.2,...,3.25,2.65,3.30,2.30,2.60,3.25,2.50,2.62,3.20,2.38
12,0,0,1.91,3.40,4.00,1.85,3.35,3.80,1.80,3.1,...,3.30,2.00,3.20,3.40,1.85,3.30,4.00,1.83,3.30,3.80
13,2,2,2.90,3.30,2.38,2.75,3.30,2.25,2.50,3.2,...,3.20,2.75,3.20,2.30,2.75,3.25,2.35,2.75,3.20,2.30
14,1,2,1.70,3.30,4.50,1.75,3.45,4.00,1.70,3.2,...,3.40,1.70,3.40,4.35,1.75,3.40,4.25,1.70,3.40,4.33
15,0,1,2.35,3.30,3.00,2.35,3.25,2.70,2.20,3.1,...,3.25,2.20,3.25,2.90,2.30,3.25,2.85,2.30,3.20,2.75
16,1,3,6.00,3.75,1.57,5.10,3.60,1.55,4.60,3.4,...,3.50,5.50,3.50,1.55,5.25,3.60,1.60,6.00,3.60,1.50
17,1,3,4.00,3.25,1.83,4.30,3.50,1.68,3.70,3.2,...,3.30,3.60,3.25,1.90,4.10,3.40,1.80,3.80,3.30,1.83
18,2,3,1.36,4.75,8.50,1.25,5.00,9.00,1.30,4.2,...,4.50,1.28,4.50,8.50,1.30,4.75,7.50,1.30,4.50,8.50
19,0,0,2.40,3.30,2.90,2.25,3.20,2.80,2.20,3.1,...,3.30,2.35,3.25,2.65,2.30,3.20,2.75,2.30,3.25,2.70
20,2,2,3.20,3.30,2.25,3.25,3.20,2.10,3.10,3.0,...,3.30,3.25,3.25,2.00,3.10,3.20,2.15,3.10,3.25,2.10
21,2,0,1.75,3.75,4.33,1.85,3.35,3.65,1.75,3.2,...,3.50,1.75,3.25,4.35,1.80,3.30,4.20,1.70,3.30,4.50
22,1,1,1.40,4.33,8.00,1.38,4.00,7.20,1.40,3.9,...,4.33,1.35,4.00,7.50,1.40,4.20,7.00,1.36,4.20,7.00
23,1,2,1.83,3.50,4.20,1.80,3.35,3.90,1.85,3.2,...,3.40,1.80,3.25,4.00,1.85,3.30,4.00,1.80,3.30,4.00
24,0,0,2.00,3.50,3.60,1.95,3.25,3.40,2.00,3.2,...,3.25,2.00,3.25,3.25,1.95,3.20,3.50,2.00,3.25,3.30
25,1,0,2.70,3.25,2.60,2.50,3.30,2.45,2.45,3.1,...,3.20,2.40,3.25,2.60,2.50,3.25,2.50,2.50,3.20,2.50
26,1,3,3.60,3.30,2.05,3.40,3.25,1.95,3.90,3.3,...,3.30,3.75,3.25,1.85,3.60,3.25,1.95,3.50,3.30,1.91
27,1,1,2.30,3.25,2.90,2.20,3.15,3.00,2.00,3.1,...,3.20,2.25,3.10,2.80,2.10,3.20,3.20,2.20,3.20,2.90
28,1,1,1.25,5.25,10.00,1.23,5.00,10.00,1.30,4.2,...,5.50,1.25,5.00,9.00,1.27,5.00,8.50,1.25,5.00,9.00
29,2,2,2.00,3.25,3.50,2.10,3.20,3.20,2.00,3.1,...,3.30,2.10,3.30,3.10,2.00,3.20,3.50,2.00,3.25,3.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25949,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25950,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25951,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25952,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25953,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25954,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25955,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25956,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25957,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25958,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25959,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25960,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25961,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25962,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25963,2,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25964,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25965,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25966,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25967,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25968,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25969,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25973,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25974,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
cleaned = detailed_bets.dropna(thresh=1)

In [14]:
cleaned.shape

(25979, 31)

In [21]:
def get_match_label(match):
    ''' Derives a label for a given match. '''
    
    #Define variables
    home_goals = match['home_team_goal']
    away_goals = match['away_team_goal']
     
    label = pd.DataFrame()
    label.loc[0,'match_api_id'] = match['match_api_id'] 

    #Identify match label  
    if home_goals > away_goals:
        label.loc[0,'label'] = "Win"
    if home_goals == away_goals:
        label.loc[0,'label'] = "Draw"
    if home_goals < away_goals:
        label.loc[0,'label'] = "Defeat"

    #Return label  
    print(label.loc[0])
    return label.loc[0]

get_match_label(detailed_bets)

KeyError: 'match_api_id'